* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background: #0A0A0A;
}

.container {
    width: 45%;
    margin: auto;
    display: grid;
    margin-top: 1.25rem;
    border-radius: 8px;
    grid-template-columns: 2fr 1fr;
    place-items: center;
    align-content: space-evenly;
    gap: 1.5rem;

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.total {
    display: inline;

}

.numbers {
    width: 100%;
    justify-self: left;
    display: flex;
    justify-content: space-between;
    grid-column: span 2;

}

.btn-clean-container {
    justify-self: left;
}

.fa-solid {
    color: rgb(228, 34, 34);
    font-size: 1rem;
}

input {
    width: 29.6875rem;
    display: inline-flex;
    height: 2.5rem;
    padding-left: 0.75rem;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.5rem;
    background: #171717;
    border: none;
    color: #f2f2f2;
    font-size: 1rem;
    outline: none;
}

table {
    width: 100%;
    color: #f2f2f2;
    border: .0938rem solid #446c03;
    border-radius: 10px;

}

td {

    text-align: center;
}

h1 {
    grid-column: span 2;
    margin-top: 1.125rem;
    color: #7AC008;
    font-weight: 600;
}

h2 {
    color: #f2f2f2;
}


.name,
.container-table {
    width: 100%;
    grid-column: span 2;
}

.button-container {
    justify-self: right;
    grid-column: span 2;

}

.add-button {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    padding: 12px 13px 12px 14px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    background: #7AC008;
    border: none;

}

.add-button:hover,
.clean:hover {
    opacity: 0.7;
    transition: ease-in-out 0.2s;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
}

.add-button:active,
.clean:active {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.fa-plus {
    border: none;
    background: none;
    background-color: transparent;
    font-size: 18px;
    color: #0A0A0A;
}

.length,
.width {
    width: 5rem;
}

.total-green {
    color: #7AC008;
    font-weight: 600;
}

.clean {
    display: flex;
    width: 6.25rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: linear-gradient(180deg, #1D1D1D 0%, #171717 100%);
    border: none;
    color: #7AC008;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #142000;



}

.button-container {
    justify-self: right;

}

@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: .625rem;
    }

    table,
    th {
        font-size: .9375rem;

    }

    tr {
        text-align: center;

    }

    td {
        padding-top: .75rem;
        padding-bottom: .75rem;
    }

    .numbers {

        gap: .8125rem;
        display: flex;
        align-items: center;
        grid-column: span 2;

        h2 {

            font-size: 1.25rem;
        }

    }

    .btn-clean-container {
        justify-self: left;
        grid-column: span 2;
    }
}